@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');font-weight:400;font-style:normal}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr: #222327;
    --dark: #03063A
}

html, body {
    font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    background-color: #EFEFEF;;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;

}

p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

button {
    cursor: pointer;

}


header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 2.5em;
    z-index: 99;

}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-right: 15%;
    padding-right: 20px;
    border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.navbar, .sitemap {
    position: relative;
    height: 4.375em;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navbar ul, .sitemap ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.navbar ul li, .sitemap ul li {
    font-size: 1.6rem;
}
 .navbar a, .sitemap a {
     color: white;
 }


.banner, body .reviewSwipe-section {
    background-image: url("../assets/img/bannerBackground.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10.625em 0 8em 0;
}
.banner .container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    padding: 12.5em 9.375em 4.6em 3.125em;
}
.banner #homeBanner{
    background-image: url("../assets/img/adoptionBanner.png");
}

.banner h1 {
    font-size: 36px;
    line-height: 50px;
    color: #ffffff;
}

.searchBar {
    position: absolute;
    width: 100%;
    top: 25em;
}

.searchBar form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 25px;
    align-items: end;
}
.searchBar form div:first-child {
    display: flex;
    flex-direction: column;
    top: -10px;
}

.searchBar div fieldset, .searchBar div input, .searchBar div select, button {
    border: none;
}
.searchBar div select, .searchBar div input {
    border-radius: 25px;
    background-color: #46A8A0;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 25px;
    opacity: 0.8;
    color: #ffffff;
}
.searchBar div input::placeholder {
    color: #ffffff;
}

button {
    border-radius: 25px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 25px;
    transition: all .4s;
}

.searchBar div button {
    color:  #ffffff;
    background-color: #46A8A0;
}

.searchBar div button:hover {
    opacity: 1;
    color:  #46A8A0;
    background-color: #ffffff;
}

select:required:invalid {
    color: #ffffff;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: #ffffff;
}
.petSwipe-section, .reviewSwipe-section {
    width: 100%;
    padding: 2.5em 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}
.petSwipe-section .container {
    padding: 0 1.875em;
}
.containerCards {
    width: 60%;
}
.petSwipe-section .container, .reviewSwipe-section .containerCards {
    text-align: center;
    position: relative;
}

.reviewSwiper, .petSwiper  {
    overflow: hidden;
}
.reviewSwipe-section .container {
    display: flex;
}

.petSwipe-section h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 36px;
}
.reviewSwipe-section h2 {
    font-size: 36px;
    margin: 0.625em 0;
    line-height: 44px;
}

.cards {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.card, #eventBox div {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #46A8A0;
}

.reviewSwipe-section .reviewSwiper .card, #eventBox div {
    background-color: #FFFFFF;
}
.card .image-content {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .card-content {
    padding: 10px 14px 20px 14px;
    background-color: #ffffff;
    border-radius: 25px;


}

figure {
    margin: 0;

}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
#button-next, .reviewSwipe-section #button-prev{
    right: 0;
    left: auto;
}
#button-prev {
    left: 0;
    right: auto;
}
#button-next, #button-prev {
    color: #FFFFFF;
    background-color: #46A8A0;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    opacity: 1;
    transition: all .3s;

}



.reviewSwipe-section #button-next {
    top: 52.25%;
}

.reviewSwipe-section #button-prev{
    top: 32.25%;
}

.reviewSwipe-section #button-next, .reviewSwipe-section #button-prev {
    right: -1.25em;
}

#button-next, #button-prev {
    top: 42.25%;
}

#button-next, #button-prev {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 35px;
}

#button-next:after {
    content: 'next';
}

#button-prev:after {
    content: 'prev';
}

#button-next:after, #button-prev:after {
    font-family: swiper-icons;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1;
}
#button-prev:hover, #button-next:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reviewSwipe-section button {
    margin-top: 1.5em;
    position: relative;
}

.reviewSwipe-section button span {
    color: #FFFFFF;
    mix-blend-mode: exclusion;
}

.reviewSwipe-section button::before {
    content: "";
    border-radius: 50px;
    width: 35%;
    background: var(--dark);
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.reviewSwipe-section button:hover::before {
    background: var(--dark);
    width: 100%;
}

.swiper-pagination-bullet{
    background-color: #70DCD4;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #46A8A0;
}
.reviewSwipe .container {
    display: flex;
}
.reviewSwipe-section .containerHeader {
    align-self: center;
}
.containerHeader .section-heading {
    margin-bottom: 0;
    margin-left: 3.125em;
    vertical-align: middle;
}

.info {
    margin-top: 8.125em;
}

.info .container {
    background-color: #46A8A0;
    border-radius: 40px;

}

dialog#reviewDialog {
    border-radius: 25px;
    margin: auto;
    padding: 1em 2em;
    max-width: 31.25em;
    background-color: #46A8A0;
    border: none;
}

::backdrop {
    background-color: rgb(0,0,0, 0.4);
}

dialog#reviewDialog h1 {
    border-bottom: 1px solid #FFFFFF;
    font-size: 3em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

dialog#reviewDialog h1, dialog#reviewDialog label span {
    color: #FFFFFF;
}

dialog#reviewDialog form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1.75em;
}
dialog#reviewDialog form div.checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;

}
dialog#reviewDialog form div.checkbox label span {
    font-size: 1em;
}

dialog#reviewDialog form > div:last-of-type {
    margin:  1.75em 0 0.8em 0;

}

dialog#reviewDialog label > span.field-label {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
}

dialog#reviewDialog div input, dialog#reviewDialog textarea {
    background-color: rgba(249, 235, 255, 0.15);
    border-radius: 25px;
    border: none;
    font-weight: 300;
    height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
}

dialog#reviewDialog div input::placeholder, dialog#reviewDialog textarea::placeholder {
    color: #FFFFFF;
}

dialog#reviewDialog div textarea{
    resize: vertical;
    height: 6.25em;
    padding: 20px;
}

.accordion {
    margin-top: -2.5em;
    background-color: #46A8A0;
    border-radius: 40px;
    padding: 2.5em 3.125em 3.125em 3.125em;

}

.info .container h2 {
    text-align: center;
    padding: 2.5em;
}

.accordion-item {
    background-color: #ffffff;
    border-radius: 40px;
    margin-bottom: 30px;
}
.accordion-header {
    margin-bottom: 0;
}
.accordion-header {
    margin-bottom: 0;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 0;

}
h3.accordion-header button {
    padding: 0.94em 1.56em;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
}

.accordion-item h3 .accordion-button::after {
    font-size: 18px;
    font-weight: 500;
    content: '+';
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #46A8A0;
    color: #ffffff;
    margin-left: auto;
}
.accordion-item h3.active .accordion-button::after {
    line-height: 32px;
    content: '-';
}
.accordion-item .accordion-button {
    border-radius: 40px;
}
.accordion-item h3.active .accordion-button{
    color: #46A8A0;
    background-color: #ffffff;
}
.collapse {
    background-color: #ffffff;
    border-radius: 40px;
}

.accordion-body {
    padding: 0 1.56em 1.87em 1.56em;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.collapse {
    display: none;
}

footer {
    margin-top: 9.38em;
    position: relative;
    background-color: #46A8A0;
    vertical-align: middle;
    min-height: 7em;
    border-radius: 150px 150px 0 0;
}
footer .sitemap {
    margin: 0 1em;
}

footer h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-right: 80px;
}


@media (min-width: 768px) {
    .container, .containerCards {
        max-width: 45em;
    }
    header h1 {
        margin-right: 11.02%;
    }
    .searchBar {
        top: 28.02em;
    }


}


@media (max-width: 992px) {

    .banner, .reviewSwipe-section {
        padding-top: 7.8em;
    }
    .info {
        margin-top: 6.25em;
    }
    .accordion {
        padding: 2.5em 1.6em 0.625em 1.6em;
    }

}
@media (min-width: 992px) {
    .container, .containerCards {
        max-width: 60em;
    }

    header h1 {
        margin-right: 18.17%;
    }
    .searchBar {
        top: 30.85em;
    }


}

@media (min-width: 1200px) {
    .container, .containerCards  {
        max-width: 71.25em;
    }
    header h1 {
        margin-right: 21.61%;
    }

    .banner .container {
        padding: 16em 9.375em 4.6em 3.125em;
    }
    .searchBar {
        top: 34.35em;
    }

}

@media (min-width: 1400px) {
    .container, .containerCards {
        max-width:82.5em
    }
    header h1 {
        margin-right: 24.12%;
    }

}

.ratingControl {
    position: relative;
    width: 100%;
    height: 65px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 40px;
}
.ratingControl input {
    visibility: hidden;
}

.ratingControl-stars {
    position: absolute;
    top: 0;
    width: 75px;
    height: 65px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3EEmpty%20Star%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23D5D5D5%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: auto 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.ratingControl-stars:hover, .ratingControl-stars:hover ~ .ratingControl-stars, input:checked ~ .ratingControl-stars {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FEC844%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
.ratingControl-stars:active, .ratingControl-stars:active ~ .ratingControl-stars, input:checked ~ .ratingControl-stars:active {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%20%E2%80%93%20Light%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FFE39C%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ratingControl-stars--05, .ratingControl-stars--1 {
    left: 0;
}

.ratingControl-stars--15, .ratingControl-stars--2 {
    left: 20%;
}

.ratingControl-stars--25, .ratingControl-stars--3 {
    left: 40%;
}

.ratingControl-stars--35, .ratingControl-stars--4 {
    left: 60%;
}

.ratingControl-stars--45, .ratingControl-stars--5 {
    left: 80%;
}

.ratingControl-stars--half {
    width: 34px;
}
